:root
    --font-headings: "Seaweed Script", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-captions: "Tiny5", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    box-sizing border-box

body
    min-height 100vh
    background-image url('https://olixcgppvluthbgcjtkf.supabase.co/storage/v1/object/public/versions/test/hlag_bg.jpg')
    background-color #231818
    background-size cover
    background-position center
    background-attachment fixed
    color white