body
    min-height 100vh
    background-image url('https://olixcgppvluthbgcjtkf.supabase.co/storage/v1/object/public/versions/test/hlag_bg.jpg')
    background-size cover
    background-position center center

    color white